:root {
  --primary-colour: #134074;
  --secondary-colour: #8367c7;
  --secondary-hover-colour: #9d82e2;
  --font-colour: #f6f2ff;
}
main {
  display: flex;
}
header {
  background-color: var(--primary-colour);
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 300%;
  font-weight: bolder;
  color: var(--font-colour);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 20%;
  min-height: 20vh;
  border: 2px black solid;
  border-radius: 5px;
}

form {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--primary-colour);
  padding: 0.25rem;
  color: var(--font-colour);
  border-radius: 0.5rem;
  font-weight: bolder;
  margin-left: 5px;
}

input {
  padding: 0.25rem;
  box-sizing: border-box;
  width: 100%;
}

.previous-locations {
  border-top: 1px solid black;
  width: 100%;
}

.previous-location-container {
  margin: 0.25rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0.4rem;
  background-color: var(--secondary-colour);
  color: var(--font-colour);
  font-size: 125%;
}

.previous-location-container:hover {
  cursor: pointer;
  background-color: var(--secondary-hover-colour);
}

@media only screen and (max-width: 900px) {
  form {
    flex-direction: column;
  }
}

/* MAIN SECTION ////////////////////////////////////*/

#current-day {
  width: 100%;
  border: 2px solid black;
  margin: 1rem;
  font-size: 175%;
  text-align: left;
  padding: 1rem;
}

#extra-days {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.forecast-container {
  width: 80%;

  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  text-align: center;
}

.forecast {
  text-align: left;
  margin-top: 0.5rem;
  font-size: 75%;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.day {
  margin: 1rem;
  background-color: var(--primary-colour);
  color: var(--font-colour);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px #999;
  margin: 10px;
  padding: 1rem;
  font-size: 125%;
  width: 25%;
}

#day-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

img {
  position: relative;
  padding: 0;
  margin: 0;
  top: -35px;
  right: 10px;
}
